
Commands For install this tool in Termux.
pkg up -y
pkg install git -y
pkg install python -y
git clone https://github.com/termuxprofessor/Termux-Scraper-Adder
cd Termux-Scraper-Adder
chmod +x setup.py
python setup.py
---------------------------
After that fill requirements like api_id, api_hash, phone number with country code, otp.
-----------------------------
Type Command For Scrape members from group.
$ python scraper.py
---------------
Select group in which you want to scrape members. Members detail will be saved in members.csv file
----------------
Type command For Add members in your group.
$ python adder.py
------------------
Then select group in which you want to add members.
--------------------
Note: 
Telegram only allow 200 members to add in any group by one user. You can use multiple telegram account for add more members.
I recommended you to add only up to 50 members per session then take break of 15-30 minutes otherwise you may be get flood error.
